# Port d'écoute local du service backend
PORT=3001

# Connexion Base de Données (Schéma backend_db)
DATABASE_URL="postgresql://db_user:db_password@localhost:5432/db_name?schema=backend_db"

# Configuration Physique de la BDD (lue par le conteneur db dans Docker Compose)
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=fantasy_league

# Connexion RabbitMQ (lue par le backend)
RABBITMQ_URL=amqp://rmq_user:rmq_password@localhost:5672

# Configuration Physique de RabbitMQ (lue par le conteneur rabbitmq dans Docker Compose)
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=password

# Securité
JWT_SECRET=changesubmitsecretinproduction

# Google OAuth
GOOGLE_CLIENT_ID=placeholder-google-client-id
GOOGLE_CLIENT_SECRET=placeholder-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback

# Redirection Frontend
FRONTEND_URL=http://localhost:5173
